<div class="container">
  <mat-grid-list cols="12" rowHeight="70px">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <img class="logo" src="assets/images/banklogo.png"
    /></mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="2">
      <h1 style="padding-left:120px">
        {{ "Welcome to Trust Merchant Bank" | translate }}
      </h1>
    </mat-grid-tile>
  </mat-grid-list>
  <form
    class="my-form"
    [formGroup]="tokengenerationform"
    (ngSubmit)="generatetoken()"
  >
    <mat-card-content>
      <!-- <mat-form-field class="full-width">
        <mat-label>{{ "Enter Name" | translate }}</mat-label>
        <input
          matInput
          formControlName="customername"
          [(ngModel)]="customer.customerName"
          autocomplete="off"
        />
        <mat-hint>{{
          "Not less then 3 characters long." | translate
        }}</mat-hint>
        <mat-error *ngIf="hasError('customername', 'required')">{{
          "Name is required" | translate
        }}</mat-error>
        <mat-error *ngIf="hasError('customername', 'minlength')">{{
          "You have less than 3 characters" | translate
        }}</mat-error>
      </mat-form-field> -->
      <!-- <mat-form-field class="full-width">
        <mat-label>{{ "Mobile Number" | translate }}</mat-label>
        <input
          matInput
          formControlName="customerphonenumber"
          [(ngModel)]="customer.customerMobileNumber"
          autocomplete="off"
        />

        <mat-error *ngIf="hasError('customerphonenumber', 'required')">{{
          "Phone Number is required" | translate
        }}</mat-error>
        <mat-error *ngIf="hasError('customerphonenumber', 'pattern')">{{
          "Invalid format" | translate
        }}</mat-error>
      </mat-form-field> -->
      <!-- <mat-form-field class="full-width">
        <mat-label>{{ "Account Number" | translate }}</mat-label>
        <input
          matInput
          formControlName="accountNumber"
          [(ngModel)]="customer.accountNumberCbs"
          autocomplete="off"
        />
        <mat-error *ngIf="hasError('accountNumber', 'pattern')">{{
          "Invalid format" | translate
        }}</mat-error>
      </mat-form-field> -->
      <!-- <mat-form-field class="full-width">
        <mat-label>{{ "NationalId" | translate }}</mat-label>
        <input
          matInput
          formControlName="nationalId"
          [(ngModel)]="customer.nationalId"
          autocomplete="off"
        />
        <mat-error *ngIf="hasError('nationalId', 'pattern')">{{
          "Invalid format" | translate
        }}</mat-error>
      </mat-form-field> -->
      <!-- <mat-form-field class="full-width">
        <mat-label>{{ "CustomerId" | translate }}</mat-label>
        <input
          matInput
          formControlName="customerId"
          [(ngModel)]="customer.customerIdCbs"
          autocomplete="off"
        />
        <mat-error *ngIf="hasError('customerId', 'pattern')">{{
          "Invalid format" | translate
        }}</mat-error>
      </mat-form-field> -->

      <mat-form-field class="full-width">
        <mat-label>{{ "Service Type" | translate }}</mat-label>
        <mat-select
          formControlName="servicetype"
          [(value)]="customer.serviceTypeId"
        >
          <mat-option
            *ngFor="let item of serviceType"
            [value]="item.serviceTypeId"
            >{{ item.serviceTypeDescription }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="hasError('servicetype', 'required')">{{
          "Service Type is required" | translate
        }}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div align="end" style="padding-top: 10px; padding-right: 20px">
        <button mat-raised-button color="primary">
          {{ "Issue Token" | translate }}
        </button>
      </div>
    </mat-card-actions>
  </form>
  <div class="overlay" *ngIf="spinner">
    <div class="center">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
