<div class="container">
  <mat-grid-list cols="12" rowHeight="70px">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <img class="logo" src="assets/images/banklogo.png"
    /></mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="2">
      <h1 style="padding-left:120px">
        {{ "Welcome to Trust Merchant Bank" | translate }}
      </h1>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-content style="padding-left: 20px;">
    <h1>
      {{ "Thank you" | translate }}
      <br />{{ "Your Token is" | translate }} #<span style="color: red;">{{
        tokenNumber
      }}</span
      >. <br />{{
        "One of our representatives will soon service you." | translate
      }}
      <br />{{ "Request you to be seated and wait for your turn." | translate }}
    </h1>
  </mat-card-content>
  <mat-card-actions>
    <div style="padding-top: 10px; padding-left: 30px;">
      <button mat-raised-button color="primary" routerLink="/generate-token">
        {{ "Print Token" | translate }}
      </button>
    </div>
  </mat-card-actions>
</div>
